version: '3.8'

services:
  localstack:
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs
      - DEFAULT_REGION=us-east-1
      - DEBUG=1
    volumes:
      - "./init-scripts:/etc/localstack/init/ready.d" # This is the magic line

  backend:
    build: ./app/backend
    ports:
      - "5000:5000"
    environment:
      - SQS_URL=http://localstack:4566/000000000000/sentiment-queue
      - SQS_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
    depends_on:
      - localstack

  worker:
    build: ./app/worker
    environment:
      - PYTHONUNBUFFERED=1  # This forces logs to print immediately
      - SQS_URL=http://localstack:4566/000000000000/sentiment-queue
      - SQS_ENDPOINT_URL=http://localstack:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
    depends_on:
      - localstack